

p{
    font-size: 1.2rem;
    margin: 0;
}


/* navbar */

.navbar {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color:  #23A082;
    padding: 0;
    text-align: center;
    justify-content: center; 
    align-items: center; 
    min-width: 320px;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .navbar ul {
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .navbar li {
    line-height: 30px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    padding: 0 auto;
    padding: 0 10px 0 20px;
    font-weight: 200;
    font-size: 1.2rem;
  }
  

.logo{
    margin: 5px;
    margin-left: 10px;
    width: 10%;
    height: 80%;
}



/* partenaire et sponsor main div */

.partenaire{
    width: 100%;
    margin: 0 auto;
}

.sponsors{
    justify-content: center; 
    gap: 1px;
    width: 50%;
    margin: 0 auto;

}

.sponsor{
   
    align-items: center;
    max-width: 500px;
    background-color: rgb(255, 255, 255);
    padding : 10px 0px 10px 0px;
    -webkit-box-shadow: 0px 1px 40px 14px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 40px 14px rgba(0, 0, 0, 0.07);
    border-radius: 2%;
    padding: 30px;
    margin: 10px;  
}


.sponsor_img{

    max-width: 100%;
  
}

.sponsor img{
    
    width: 240px; /* taille fixe des images */
    height: 100px;
    object-fit: cover;
}




.interv{
    width: 100%;
    margin: 0 auto;
}
.interv img{
   height: 100%;
   width: 30%;
}

.intervenants{
    display: flex;
    justify-content: center; 
    gap: 1px;
    width: 60%;
    margin: 0 auto;
}

.intervenant{
    align-items: center;
    max-width: 300px;
    background-color: rgb(255, 255, 255);
    padding : 10px 0px 10px 0px;
    -webkit-box-shadow: 0px 1px 40px 14px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 40px 14px rgba(0, 0, 0, 0.07);
    border-radius: 2%;
    padding: 50px;
    margin: 0px 10px 0px 10px;
    
}

.intervenant_img {
    display: flex;
    max-width: 100%;

}

.intervenant img {
    object-fit: cover;
    width: 100px; /* taille fixe des images */
    height: 100px; /* taille fixe des images */
    border-radius: 50%; /* forme de cercle */
}


input{
    width: 250px;
    padding: 10px;
}




/* main div */

.main_div{
    background-image: url("/public/uploads/main_image.png"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    


} 

.main_div_cont{
    padding: 40px;
    color: white;
}

.btnMain{
    padding:20px 60px;
    outline: none;
    background-color: #7DBA33;
    border: none;
    border-radius:5px;
    color: white;
    transition: 0.3s;
   
}
.btnMain:hover{
    padding:20px 60px;
    outline: none;
    background-color: white;
    border: none;
    border-radius:5px;
    color: #7DBA33;
   
}

.btnMain2{
    padding:10px 30px;
    outline: none;
    background-color: #ffffff;
    border: none;
    border-radius:5px;
    color: #7DBA33;
    border: 1px solid #7DBA33 ;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.btnMain2:hover{
    padding:10px 30px;
    outline: none;
    background-color:#7DBA33;
    border: none;
    border-radius:5px;
    color: #ffffff;
    border: 1px solid #7DBA33 ;
   
}









/* sessions */


.session p{
    font-size: 0.8rem;
}


.session{  
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 40px;
    -webkit-box-shadow: 0px 1px 40px 14px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 40px 14px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
    margin-bottom: 50px;
    height: 90%;
}
.session2{  
    background-color: rgb(255, 255, 255);
    
}

.invite img{
    width: 30%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}







/* tous les intervenants */

.allInterv .intervenants .invite_img img{
    
    object-fit: cover;
    width: 100px; /* taille fixe des images */
    height: 100px; /* taille fixe des images */
    border-radius: 50%; /* forme de cercle */

}
.allInterv .intervenants {
    display: flex;
    max-width: 100%; 
    margin-bottom: 30px;


}

.intervCard{

    width: 150px;
}


/* user home */
.homeMainDiv{
    
    padding-top: 100px;
    padding-bottom: 450px;
}







/*footer*/

.footer{
    background-color: rgb(35, 160, 130);
    text-align: center;
    position: relative;
    color: white;
    padding: 50px;
}